aiohttp>=3.7.4
requests
sr_api
jishaku
humanize
pytz
termcolor
PyNaCl
async_timeout
youtube_dl
aiosqlite
py-cord~=1.7.*
google_api_python_client
python-dotenv
git+https://github.com/Rapptz/discord-ext-menus
sympy
beautifulsoup4
./aiosqlite_pool.zip
wavelink
dblpy
claptcha
time_str
halo
string-color
