aiohttp==3.6.2
requests==2.22.0
sr_api==1.1.4
jishaku==1.19.1.200
discord.py==1.5.1
humanize==2.6.0
pytz==2020.1
termcolor==1.1.0
async_timeout==3.0.1
youtube_dl==2020.11.1.1
aiosqlite==0.16.0
discord==1.0.1
google_api_python_client==1.12.5
python-dotenv==0.15.0
